.auth-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.auth-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
}
.auth-container button {
  width: 100%;
  padding: 12px;
  background: #101820;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.auth-container p {
  text-align: center;
  margin-top: 1rem;
}

input[type="password"] {
  background: white;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
